/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: white;
}

.container h1 {
  margin-bottom: 20px; /* Adjust the value as needed */
}
/* Header styles */
header {
    background-color: #333; /* Background color for the header */
    color: White; /* Text color for the header */
    padding: 40px 0; /* Add padding to the top and bottom */
}

/* Media query for screens smaller than 768px (typical mobile devices) */
@media only screen and (max-width: 767px) {
    header {
        padding: 20px 0; /* Reduce padding for smaller screens */
    }
}

.top-menu {
    text-align: center; /* Center align the content */
}

.center {
    display: inline-block; /* Display content inline */
}

.center h1,
.center p {
    margin: 0; /* Remove margin for h1 and p tags */
}

/* CSS for Menu Section */
.menu {
    background-color: orange; /* Background color for the menu */
    color: #fff; /* Text color for the menu */
    text-align: center; /* Center align the menu */
    padding: 5px 0; /* Add padding to the top and bottom */
}

.menu a {
    text-decoration: none; /* Remove underline from all links in the menu */
}

.menu ul {
    list-style-type: none; /* Remove default list style */
    padding: 3px; /* Remove default padding */
}

.menu ul li {
    display: inline-block; /* Display menu items horizontally */
    margin-right: 20px; /* Add space between menu items */
  
}

.menu ul li:last-child {
    margin-right: 0; /* Remove margin from last menu item */
}

.menu li a:hover {
    font-weight: bold;
   text-decoration: underline; /* Underline only when hovered */
}





.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 0px;
}

/* CSS for Profile Image Section */

.profile-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background-image: url('https://images.unsplash.com/photo-1495081703108-1fdad36fcb5a?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center;
}

.profile-image {
    position: relative;
    z-index: 1;
    width: 350px;
    height: 350px;
    overflow: hidden;
    border-radius: 50%; /* Ensures the container is perfectly circular */
}

.profile-image img {
    width: 100%; /* Ensures the image fills the container */
    height: 100%; /* Ensures the image fills the container */
    object-fit: cover; /* Ensures the image is cropped to cover the entire container */
}



/* Main section styles */
main {
    padding: 20px;
}

section {
    margin-bottom: 40px;
}

section h1 {
    color: magenta;
    text-decoration: underline;
    font-size: 30px;
}
section h2 {
    margin-bottom: 15px;
    margin-top: 15;
}
section ul {
    margin-bottom: 15px;
    margin-top: 15;
}

/* Responsive styles */
@media (max-width: 768px) {
    .container {
        padding: 0 10px;
    }
}

/* CSS for Scroll to Top Button */
/* CSS for Scroll to Top Button */
.scroll-to-top-btn {
    position: fixed;
    bottom: 20px;
    right: 20px; /* Adjusted to right */
    display: none;
    font-size: 24px;
    color: #fff;
    background-color: #333;
    padding: 10px;
    border-radius: 50%;
    text-decoration: none;
    transition: opacity 0.3s ease-in-out;
}

.scroll-to-top-btn:hover {
    opacity: 0.7;
}

p {
    text-align: justify;
}

.skills-list {
    display: flex;
    flex-wrap: wrap;
}

.skill {
    flex: 0 0 22.33%; /* Three skills per row */
    padding: 10px;
    box-sizing: border-box;

border: 2px solid #3498db; /* Border color */
    border-radius: 30px; /* Rounded corners */
    padding: 20px; /* Padding inside the box */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Box shadow for depth */
  margin-bottom: 15px;
  margin-rignt: 15px;
  padding-left: 70px; /* Adjust this value to decrease the left side */
}

@media only screen and (max-width: 767px) {
            .skill {
                width: 100%; /* Set width to 100% for single-column layout on smaller screens */
            }
}

.skill:not(:last-child) {
    margin-right: 10px; /* Right side margin for all projects except the last one */
}



.skill img {
    width: 50px;  /*Adjust image size as needed*/ 
    height: 50px;
    margin-bottom: 10px;
  
}

.skill-info {
    text-align: left;
}

@media screen and (max-width: 768px) {
    .skill {
        flex: 0 0 50%; /* Two skills per row on smaller screens */
    }
}


.info-table {
    width: 70%;  /* Overall width */
    border-collapse: collapse;
}

.info-table th, .info-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

.info-table th {
    background-color: #f2f2f2;
    
}

.info-table td:nth-child(2) {
    width: 75%; /* Adjust the width as needed */
}
section a {
  font-weight: bold;
}



.education-table {
    width: 90%;
    border-collapse: collapse;
}

.education-table th, .education-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

.education-table th {
    background-color: #f2f2f2;
}

.education-table th:nth-child(1),
.education-table td:nth-child(1) {
    width: 2%; /* Adjust the width as needed for the first column */
    text-align: center;
  font-weight: bold;
}

.education-table th:nth-child(2),
.education-table td:nth-child(2) {
    width: 10%; /* Adjust the width as needed for the second column */
}

.education-table th:nth-child(3),
.education-table td:nth-child(3) {
    width: 10%; /* Adjust the width as needed for the third column */
}

.education-table th:nth-child(4),
.education-table td:nth-child(4) {
    width: 4%; /* Adjust the width as needed for the fourth column */
  text-align: center;
  font-weight: bold;
}

.education-table th:nth-child(5),
.education-table td:nth-child(5) {
    width: 1%; /* Adjust the width as needed for the fifth column */
}




.certificate-table {
    width: 90%;
    border-collapse: collapse;
}

.certificate-table th, .certificate-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

.certificate-table th {
    background-color: #f2f2f2;
}

.certificate-table th:nth-child(1),
.certificate-table td:nth-child(1) {
    width: 0%; /* Adjust the width as needed for the first column */
    text-align: center;
  font-weight: bold;
}

.certificate-table th:nth-child(2),
.certificate-table td:nth-child(2) {
    width: 5%; /* Adjust the width as needed for the second column */  
}

.certificate-table th:nth-child(3),
.certificate-table td:nth-child(3) {
    width: 0%; /* Adjust the width as needed for the third column */
  font-weight: bold;
  text-align: center;
}

.certificate-table th:nth-child(4),
.certificate-table td:nth-child(4) {
    width: 4%; /* Adjust the width as needed for the fourth column */
}

.certificate-table th:nth-child(5),
.certificate-table td:nth-child(5) {
    width: 1%; /* Adjust the width as needed for the fifth column */
  
}
.project li{
  font-family: Georgia, serif;
  font-size: 18px;
  padding-left: 20px;
    border: 1px solid #ff9a9e;
    border-radius: 5px;
    padding: 5px;
    margin: 5px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      position: relative;
  

}

.project ul {
  list-style-position: inside;  /* Ensures the bullet is inside the padding */
}

.project h2 {
  color: purple;
}


.skill-info p{
  font-weight: bold;
  color: green;
}

.project img {
    width: 50px;  /*Adjust image size as needed*/ 
    height: 50px;
    margin-bottom: -15px;
}


.project {
    border: 2px solid #3498db; /* Border color */
    border-radius: 10px; /* Rounded corners */
    padding: 20px; /* Padding inside the box */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Box shadow for depth */
  margin-bottom: 15px;
}

